################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/datetime/v14
/Debug
/build
/.vscode
/test/datetime_unittest/Debug
/test/datetime_unittest/x64/Debug
/x64/Debug
/datetime.VC.db
/datetime.VC.VC.opendb
Testing/Temporary/CTestCostData.txt
Testing/Temporary/LastTest.log
